  /* Estilo para los párrafos */
  p {
    font-family: 'American Typewriter', Monospace;
    font-size: 20px;
    padding: 20px;
    margin: 10px 0;
    border-radius: 20px;
}

/* Estilo para los nombres de los sistemas operativos */
.os-name {
    background-color: #b3defe;
    color: #a230fa;
    border-left: 5px solid #f34b9c;
}

/* Estilo para los nombres de los usuarios */
.user-name {
    background-color: #f0f5ff;
    color: #333;
    border-left: 5px solid #007bff;
}

/* Estilo para la línea separadora */
hr {
    border: 1px solid #ddd;
    margin: 20px 0;
}