.message {
    font-family:  Zapfino, Script;
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
    background-color: #f0f8ff;
    color: #333;
}

.welcome {
    background-color: #e8d4ed;
    color: #251557;
}

.login-prompt {
    background-color: #f8d7da;
    color: #721c24;
}

.offline {
    background-color: #f8d7da;
    color: #721c24;
}