<h1 class="text-3x1 font-bold text-red-700">
    Tailwind y Angular Material funcionan correctamente
</h1>
<br>

<button mat-raised-button color="text-blue-600" matTooltip="Haz clic aquí" aria-label="Botón de Angular Material">
    <mat-icon>touch_app</mat-icon> Botón de Angular Material
  </button>
<br>
<br>

<h1 style="text-align: center; color: rgb(11, 94, 129);">Manual de practicas</h1>
<br>
<p>Elaborado por: <strong>Lorena Citlalli Galindo Gonzalez</strong></p>

<hr>
<h2>Ejercicio 1: </h2>
<app-ejercicio-01>
    <br>
</app-ejercicio-01>
<hr>

<h2>Ejercicio 2: </h2>
<app-ejercicio-02>
    <br>
</app-ejercicio-02>
<hr>

<h2>Ejercicio 3: </h2>
<app-ejercicio-03>
    <br>
</app-ejercicio-03>
<hr>

<h2>Ejercicio 4: </h2>
<app-ejercicio-04>
    <br>
</app-ejercicio-04>

<h2>Ejercicio 5: </h2>
<app-ejercicio-05>
    <br>
</app-ejercicio-05>
